In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv("country_vaccination_stats.csv")

In [3]:
df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,NaN,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [5]:
df.isnull().sum()

country                0
date                   0
daily_vaccinations    60
vaccines               0
dtype: int64

In [6]:
df.groupby("country").min()["daily_vaccinations"]

country
Argentina                 6483.0
Austria                   3368.0
Bahrain                    943.0
Belgium                      1.0
Brazil                     112.0
Bulgaria                   472.0
Canada                     866.0
Chile                       51.0
China                   187500.0
Costa Rica                 240.0
Croatia                    989.0
Cyprus                     534.0
Czechia                   1822.0
Denmark                   1994.0
Ecuador                    108.0
England                  37625.0
Estonia                    309.0
Finland                    459.0
France                    5000.0
Germany                  19721.0
Gibraltar                  520.0
Greece                     549.0
Hungary                   1339.0
Iceland                     63.0
India                   112150.0
Indonesia                11823.0
Ireland                    550.0
Isle of Man                 90.0
Israel                    6887.0
Italy                      926.0
Kuwait                       NaN
Latvia                     338.0
Lithuania                  311.0
Luxembourg                  62.0
Malta                      259.0
Mexico                    1300.0
Netherlands               4000.0
Northern Ireland          1563.0
Norway                     224.0
Oman                       817.0
Panama                       6.0
Poland                    4300.0
Portugal                  2791.0
Romania                    712.0
Russia                    3357.0
Saudi Arabia             14153.0
Scotland                  3047.0
Serbia                    1150.0
Seychelles                 500.0
Singapore                 2800.0
Slovakia                   425.0
Slovenia                  1270.0
Spain                    41496.0
Sweden                    3859.0
Switzerland               3000.0
Turkey                   67192.0
United Arab Emirates     30698.0
United Kingdom           46423.0
United States            57909.0
Wales                     1763.0
Name: daily_vaccinations, dtype: float64

In [7]:
new_df  = pd.DataFrame()
for ulke in list((df["country"].unique())):
    w = df.loc[df['country'] == ulke ]
    w = w.fillna(w.min()["daily_vaccinations"])
    new_df = pd.concat([new_df,w])
new_df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [8]:
new_df.isnull().sum()

country               0
date                  0
daily_vaccinations    1
vaccines              0
dtype: int64

In [9]:
new_df.loc[new_df['country'] == "Kuwait" ]

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 NaN  Pfizer/BioNTech

In [10]:
new_df = new_df.fillna(0)

In [13]:
new_df

,country,date,daily_vaccinations,vaccines
0,Argentina,12/29/2020,6483.0,Sputnik V
1,Argentina,12/30/2020,15656.0,Sputnik V
2,Argentina,12/31/2020,15656.0,Sputnik V
3,Argentina,1/1/2021,11070.0,Sputnik V
4,Argentina,1/2/2021,8776.0,Sputnik V
...,...,...,...,...
1497,Wales,1/20/2021,11105.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1498,Wales,1/21/2021,12318.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1499,Wales,1/22/2021,15148.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1500,Wales,1/23/2021,17371.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
1501,Wales,1/24/2021,17063.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [14]:
new_df.isnull().sum()

country               0
date                  0
daily_vaccinations    0
vaccines              0
dtype: int64

In [15]:
Turkey_df = new_df.loc[new_df['country'] == "Turkey" ]
Turkey_df

     country       date  daily_vaccinations vaccines
1352  Turkey  1/13/2021             67192.0  Sinovac
1353  Turkey  1/14/2021            279452.0  Sinovac
1354  Turkey  1/15/2021            308326.0  Sinovac
1355  Turkey  1/16/2021            225634.0  Sinovac
1356  Turkey  1/17/2021            176613.0  Sinovac
1357  Turkey  1/18/2021            166482.0  Sinovac
1358  Turkey  1/19/2021            158439.0  Sinovac
1359  Turkey  1/20/2021            150356.0  Sinovac
1360  Turkey  1/21/2021            120115.0  Sinovac
1361  Turkey  1/22/2021             83651.0  Sinovac
1362  Turkey  1/23/2021             78569.0  Sinovac
1363  Turkey  1/24/2021             76886.0  Sinovac
1364  Turkey  1/25/2021             67192.0  Sinovac

In [16]:
England_df = new_df.loc[new_df['country'] == "England" ]
England_df

,country,date,daily_vaccinations,vaccines
386,England,12/20/2020,37625.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
387,England,12/21/2020,37625.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
388,England,12/22/2020,37625.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
389,England,12/23/2020,37625.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
390,England,12/24/2020,37625.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
391,England,12/25/2020,37625.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
392,England,12/26/2020,37625.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
393,England,12/27/2020,37625.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
394,England,12/28/2020,39253.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
395,England,12/29/2020,40882.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
396,England,12/30/2020,42511.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
397,England,12/31/2020,44139.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
398,England,1/1/2021,45768.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
399,England,1/2/2021,47396.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
400,England,1/3/2021,49025.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
401,England,1/4/2021,65678.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
402,England,1/5/2021,82331.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
403,England,1/6/2021,98984.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
404,England,1/7/2021,115637.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
405,England,1/8/2021,132290.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
406,England,1/9/2021,148943.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
407,England,1/10/2021,165596.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
408,England,1/11/2021,162002.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
409,England,1/12/2021,165152.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
410,England,1/13/2021,176950.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
411,England,1/14/2021,193243.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
412,England,1/15/2021,215973.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
413,England,1/16/2021,231918.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
414,England,1/17/2021,230525.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
415,England,1/18/2021,234877.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
416,England,1/19/2021,251122.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
417,England,1/20/2021,261507.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
418,England,1/21/2021,272972.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
419,England,1/22/2021,287384.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
420,England,1/23/2021,311226.0,"Oxford/AstraZeneca, Pfizer/BioNTech"
421,England,1/24/2021,317419.0,"Oxford/AstraZeneca, Pfizer/BioNTech"

In [17]:
new_df.loc[new_df['country'] == "Kuwait" ]

    country        date  daily_vaccinations         vaccines
750  Kuwait  12/28/2020                 0.0  Pfizer/BioNTech

In [18]:
new_df.to_csv('without_nan_country_vaccination_stats.csv', index = False)